<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<div class="container">
<h1>Coronavirus Tracker Application</h1>
<p>This application lists the current number of cases reported across globe</p>

<div class="p-3 mb-2 bg-secondary text-white" >
    World Wide:
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total cases reported as of Today</p>
    <hr class="my-4">
    <p>
    <span>New cases Reported since previous Day in Whole World</span>
    <span th:text="${totalNewCases}"></span>
    </p>
</div>
    <div class="p-3 mb-2 bg-danger text-white" >
    Namma Area:
    <P>
    <span>Total Reported cases in India</span>
    <span th:text="${totalIndiaCases}"></span>
    </P>
    <P>
    <span>Total Reported cases in Belgium</span>
    <span th:text="${totalBelgiumCases}"></span>
    </P>
    </div>

    <div class="p-3 mb-2 bg-info text-white" >
<table class="table">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Cases Reported</th>
        <th>Cases since last day</th>
    </tr>
    <tr th:each="locationstat : ${locationstats}">
        <td th:text="${locationstat.getState()}"></td>
        <td th:text="${locationstat.getCountry()}">2.41</td>
        <td th:text="${locationstat.getLatestTotalCases()}">0</td>
        <td th:text="${locationstat.getDifferenceFromPrevious()}">0</td>
    </tr>
</table>
    </div>
</div>
</body>

</html>